@import "./_font";
@import "./_variables";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Quicksand";
  scroll-behavior: smooth;
  background-color: #f8f9fa;
}
#root {
  height: 100%;
}
* {
  margin: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 25%;
  min-height: 100%;
  margin-left: calc(75% / 2);
  background-image: url(../images/me.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.container {
  width: calc(100% - 4rem);
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  .username {
    font-family: "Quicksand-Bold";
  }
  .title {
    margin-top: 0.5rem;
    font-size: 1.05rem;
    color: #ccc;
  }
  .follower-container {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    .follower {
      width: 50%;
      padding: 0.5rem 0;
      // border-right: 1px solid #ccc;
    }
    .follows {
      width: 50%;
      padding: 0.5rem 0;
    }
    .label {
      font-family: "Quicksand-Bold";
    }
    .count {
      margin-top: 0.25rem;
    }
  }
  .button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .btn {
      transition: all 0.2ms;
      width: 100%;
      padding: 0.75rem;
      margin-top: 0.5rem;
      text-decoration: none;
      background-color: #28a745;
      font-family: "Quicksand-Bold";
      color: #fff;
      border-radius: 8px;
      &:first-child {
        margin-top: 1rem;
      }
      &:hover,
      &:focus {
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
      }
    }
  }
}
.contact-btn {
  transition: all 200ms;
  width: calc(100% - 4rem);
  padding: 1rem 1rem;
  margin-top: 1.5rem;
  background-color: #28a745;
  text-align: center;
  text-decoration: none;
  font-family: "Quicksand-Bold";
  font-size: 1.1rem;
  color: white;
  border-radius: 2rem;
  &:hover,
  &:focus {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: $brSm) {
  .wrapper {
    width: 100%;
    margin-left: 0;
  }
}
