@import "./_font";
@import "./_variables";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Quicksand";
  background-color: white;
  scroll-behavior: smooth;
}
* {
  margin: 0;
}
.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 5rem 0;
}
.container {
  width: 25%;
  .header {
    padding: 0 1rem;
    img {
      width: 50%;
      margin-left: 25%;
      border-radius: 50%;
      background: red;
    }
    #username {
      text-align: center;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      font-family: "Quicksand-Bold";
      font-size: 1.25rem;
      color: #333;
    }
  }
  .body {
    padding: 0 1rem;
    .redirect-btn {
      transition: 200ms;
      display: block;
      text-align: center;
      text-decoration: none;
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.75rem 0;
      background-color: transparent;
      border: 3px solid #333;
      font-family: "Quicksand-Bold";
      font-size: 1.1rem;
      color: #333;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover,
      &:focus {
        background-color: #333;
        color: white;
      }
    }
  }
}

@media (max-width: $brMd) {
  .wrapper {
    padding: 2rem 0;
  }
  .container {
    width: 100%;
    .header {
      img {
        width: 40%;
        margin-left: 30%;
      }
    }
  }
}
