// Breakpoints
$brSm: 576px; // Small devices (landscape phones, 576px and up)
$brMd: 768px; // Medium devices (tablets, 768px and up)
$brLg: 992px; // Large devices (desktops, 992px and up)
$brXl: 1200px; // Extra large devices (large desktops, 1200px and up)

// Colors
$primary: #28a745;
$light: #f8f9fa;

// Shadows
$shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$shadowLg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
