// Breakpoints
$brSm: 576px; // Small devices (landscape phones, 576px and up)
$brMd: 768px; // Medium devices (tablets, 768px and up)
$brLg: 992px; // Large devices (desktops, 992px and up)
$brXl: 1200px; // Extra large devices (large desktops, 1200px and up)
